<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в игру с рюкзаком!</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="decoration"></div>
    <div class="decoration"></div>

    <div class="main-container">
        <h1>Добро пожаловать в игру с рюкзаком!</h1>
        <div class="nav-links">
            <a href="/register" class="nav-button">Регистрация</a>
            <a href="/leaderboard" class="nav-button">Лидеры</a>
        </div>
    </div>
</body>
</html>