<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Решите задачу о рюкзаке!</title>
    <link rel="stylesheet" href="../../static/css/intro.css">
    <link rel="icon" href="{{ url_for('static', filename='../static/favicon/bag.ico') }}">
</head>
<body>
    <div class="decoration"></div>
    <div class="decoration"></div>

    <div class="main-container">
        <h1>Поиграем?</h1>
        <p>Предлагаем вам самостоятельно найти лучшее решение!</p>
        <p>Анализируйте, комбинируйте предметы и увеличивайте ценность рюкзака</p>
        <p>Время ограничено, лучшие игроки попадут в таблицу лидеров</p>
        <div style="margin-top: 40px; display: flex; justify-content: space-between; gap: 15px;">
            <a href="intro2" class="nav-button">Назад</a>
            <a href="game" class="nav-button">Начать игру</a>
        </div>
    </div>
</body>
</html>